#page-room {
    header {
        padding: 1.5rem;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            > img {
                max-height: 2.8125rem;
            }

            > div {
                display: flex;
                gap: 5px;
                align-items: center;

                > div {
                    display: flex;
                    gap: 5px;

                    button {
                        height: 2.5rem;
                        
                    }
                }
            }
        }
        
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }

            span {
                margin-left: 16px;
                background: #e559f9;
                border-radius: 9999px;
                padding: 8px 16px;
                color: #fff;
                font-weight: 500;
                font-size: 14px;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;

                    }

                    > span {
                        margin-left: 8px;
                        color: #29292e;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                span {
                    font-size: 14px;
                    color: #737380;
                    font-weight: 500;

                    button {
                        background: transparent;
                        border: none;
                        color: #835AFD;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }

        .question-list {
            margin-top: 32px;
        }

        .empty-questions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
            
            img {
                margin-top: 100px;
                height: 11.25rem;
                width: 11.25rem;
                margin-bottom: 20px;
            }

            p {
                font-family: 'Poppins', sans-serif;
                color: #29292E;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 10px;
            }

            span {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #737380;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    #page-room {
        header {
            
            .content {
                gap: 1rem;

                > div {
                    flex-direction: column;
                    align-items: flex-start;

                    > div {
                        display: flex;
                        gap: .3rem;
                    }
                }
            }
        }

        main {
            margin-left: 1rem;
            margin-right: 1rem;

            .room-title {
                display: flex;
                justify-content: space-between;
                h1 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 55%;
                }
                span {
                    margin-left: 0;
                }
            }

            .question-list {
                margin-bottom: 1rem;
            }

            .empty-questions {
                margin-bottom: 1rem;

                img {
                    margin-top: 1rem;

                }
            }
        }
    }
}