.room-code {
  height: 2.5rem;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835AFD;
  cursor: pointer;

  display: flex;

  > div {
    background: #835AFD;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: inherit;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and(max-width:500px) {
  .room-code {
    width: 10.5rem;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}