
.user-room {
  background: #835AFD;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    width: 25px;
    height: 25px;
    
  }

  .drop-container {
    padding-top: 10px;
    background: transparent;

    display: none;
    position: absolute;
    top: 39px;
    left: 0;

    .drop-down {
      max-width: 250px;
      border-radius: 8px;
      padding: 1rem;
      background: #835AFD;
  
      > div {
        width: 10px;
        height: 10px;
        background: #835AFD;
        position: absolute;
        top: 5px;
        transform: rotate(45deg);
      }

      p {
        color: #fff;
      }
  
      ul {
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 6px;

        li {
          color: #fff;
          a {
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            color: #fff;
          }
        }
      }
    }
  }


  
  &:hover .drop-container {
    display: block;
  }

}